<div class="grid grid-cols-3 gap-8">
    <app-product title="play"  [price] ="10" img="https://picsum.photos/640/640?r10" (outputVar)="fromChild($event)"/>
    <app-product title="xbox" [price] ="20" img="https://picsum.photos/640/640?r20" (outputVar)="fromChild($event)"/>
    <app-product title="switch" [price] ="30" img="https://picsum.photos/640/640?r30" (outputVar)="fromChild($event)"/>
    <app-product title="pc" [price]="40" img="https://picsum.photos/640/640?r40" (outputVar)="fromChild($event)"/>
</div>